<%form_tag (@article) do %>
<p>
    <%=label :article_contents,:title %>
    <br/>
    <%=text_field :article_contents,:title %>
</p>
<p>
    <%=label :article_contents,:description %>
    <br/>
    <%=text_field :article_contents,:description %>
</p>
<p>
    <%=label :article_contents,:content %>
    <br/>
    <%=text_field :article_contents,:content %>
</p>
<p>
	<%=label :article_contents, :published_at%>
	<br/>
	<%=text_field :article_contents, :published_at%>
</p>	
<%=submit_tag 'Create' %>
<%end %>
<%= link_to 'Back', articles_path %>

